[submodule "cookbooks/iptables"]
	path = cookbooks/iptables
	url = https://github.com/kangaechu/iptables.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/kangaechu/mysql.git
[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/kangaechu/apache2.git
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = https://github.com/kangaechu/php.git
[submodule "cookbooks/wordpress"]
	path = cookbooks/wordpress
	url = https://github.com/kangaechu/wordpress.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/kangaechu/openssl.git
[submodule "cookbooks/xml"]
	path = cookbooks/xml
	url = https://github.com/opscode-cookbooks/xml.git
[submodule "cookbooks/redmine"]
	path = cookbooks/redmine
	url = https://github.com/kangaechu/redmine.git
[submodule "cookbooks/application"]
	path = cookbooks/application
	url = https://github.com/opscode-cookbooks/application.git
[submodule "cookbooks/passenger_apache2"]
	path = cookbooks/passenger_apache2
	url = https://github.com/opscode-cookbooks/passenger_apache2.git
[submodule "cookbooks/sqlite"]
	path = cookbooks/sqlite
	url = https://github.com/opscode-cookbooks/sqlite.git
[submodule "cookbooks/rake"]
	path = cookbooks/rake
	url = https://github.com/erniebrodeur/chef-recipe-rake.git
[submodule "cookbooks/ruby"]
	path = cookbooks/ruby
	url = https://github.com/kangaechu/ruby-cookbook.git
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = https://github.com/opscode-cookbooks/database.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/openssh"]
	path = cookbooks/openssh
	url = https://github.com/opscode-cookbooks/openssh.git
[submodule "cookbooks/perl"]
	path = cookbooks/perl
	url = https://github.com/opscode-cookbooks/perl.git
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = https://github.com/opscode-cookbooks/python
[submodule "cookbooks/readline"]
	path = cookbooks/readline
	url = https://github.com/atomic-penguin/cookbook-readline.git
[submodule "cookbooks/redisio"]
	path = cookbooks/redisio
	url = https://github.com/brianbianco/redisio/
[submodule "cookbooks/ulimit"]
	path = cookbooks/ulimit
	url = https://github.com/bmhatfield/chef-ulimit.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = https://github.com/opscode-cookbooks/sudo.git
[submodule "cookbooks/zlib"]
	path = cookbooks/zlib
	url = https://github.com/opscode-cookbooks/sudo.git
[submodule "cookbooks/gitlab"]
	path = cookbooks/gitlab
	url = https://github.com/kangaechu/cookbook-gitlab.git
[submodule "cookbooks/users"]
	path = cookbooks/users
	url = https://github.com/opscode-cookbooks/users.git
[submodule "cookbooks/chef-solo-search"]
	path = cookbooks/chef-solo-search
	url = https://github.com/edelight/chef-solo-search.git
[submodule "cookbooks/zabbix"]
	path = cookbooks/zabbix
	url = https://github.com/laradji/zabbix.git
