[submodule "cookbooks/iptables"]
	path = cookbooks/iptables
	url = https://github.com/kangaechu/iptables.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/kangaechu/mysql.git
[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/kangaechu/apache2.git
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = https://github.com/kangaechu/php.git
[submodule "cookbooks/wordpress"]
	path = cookbooks/wordpress
	url = https://github.com/kangaechu/wordpress.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/kangaechu/openssl.git
[submodule "cookbooks/xml"]
	path = cookbooks/xml
	url = https://github.com/opscode-cookbooks/xml.git
[submodule "cookbooks/redmine"]
	path = cookbooks/redmine
	url = https://github.com/kangaechu/redmine.git
[submodule "cookbooks/application"]
	path = cookbooks/application
	url = https://github.com/opscode-cookbooks/application.git
[submodule "cookbooks/passenger_apache2"]
	path = cookbooks/passenger_apache2
	url = https://github.com/opscode-cookbooks/passenger_apache2.git
[submodule "cookbooks/sqlite"]
	path = cookbooks/sqlite
	url = https://github.com/opscode-cookbooks/sqlite.git
[submodule "cookbooks/rake"]
	path = cookbooks/rake
	url = https://github.com/erniebrodeur/chef-recipe-rake.git
[submodule "cookbooks/ruby"]
	path = cookbooks/ruby
	url = https://github.com/kangaechu/ruby-cookbook.git
